Evry (Estudines)	| 32 Residence de la Vaucouleur	| Les Estudines du Parc, 91000, Evry
Evry (Istrian)		| 32 Residence de la Vaucouleur	| Square du Dragon, 91000, Evry
Pich & Liios		| 32 Residence de la Vaucouleur	| 44 Allee de la Foret, 92360, Meudon-la-foret
Grosse Colloc Nanterre	| 32 Residence de la Vaucouleur	| 229 Rue Philippe Triaire, 92000, Nanterre
Bedria			| 32 Residence de la Vaucouleur	| 56 Rue de la Boetie, 75016, Paris
Britany			| 32 Residence de la Vaucouleur	| 81 Rue Meredic, 92250, La Garenne-Colombes
Travail			| 32 Residence de la Vaucouleur	| 2 Rue Jean d'Alembert, 78990, Elancourt
Maison			| 32 Residence de la Vaucouleur	| 40 Chemin de Chantagret, 63430, Pont-du-Chateau

